{% extends "base.html" %}

{% block title %}Gallery - Inventonics Digital{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="section-title">
            <h2>GALLERY</h2>
            <p>Explore our state-of-the-art facilities and cutting-edge equipment</p>
        </div>
        
       <div class="gallery-grid">
    <div class="gallery-item glass-card">
        <img class="gallery-img" src="/static/images/About-The-University.jpg" alt="Abdul Rafay">
    </div>
    <div class="gallery-item glass-card">
        <img class="gallery-img" src="/static/images/download.jpeg" alt="Mohssin">
    </div>
    <div class="gallery-item glass-card">
        <img class="gallery-img" src="/static/images/images (2).jpeg" alt="Mohssin">
    </div>
    <div class="gallery-item glass-card">
        <img class="gallery-img" src="/static/images/images (3).jpeg" alt="Mohssin">
    </div>
    <div class="gallery-item glass-card">
        <img class="gallery-img" src="/static/images/images.jpeg" alt="Mohssin">
    </div>
    <div class="gallery-item glass-card">
        <img class="gallery-img" src="/static/images/317b267c6f48372d73b3cf520adec87b5b64bb78.jpg" alt="Mohssin">
    </div>

        
    </div>
</section>
{% endblock %}