{% extends "base.html" %}

{% block title %}Team Member - Inventonics Digital{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="section-title">
            <h2>Team Member</h2>
            <p>Explore our state-of-the-art facilities and cutting-edge equipment</p>
        </div>
        
       <div class="gallery-grid">
    <div class="gallery-item glass-card">
        <img class="gallery-img" src="/static/images/Abdul-Rafay-Passport-size-1.jpg" alt="Abdul Rafay">
        <div class="info">
            <h3 class="info-title">Abdul Rafay</h3>
            <p>Web Application Developer (Full Stack)</p>
        </div>
    </div>
     
    <div class="gallery-item glass-card">
        <img class="gallery-img" src="/static/images/Mohssin.jpg" alt="Mohssin">
         <div class="info">
            <h3 class="info-title">Mohsin</h3>
            <p>Beginner</p>
        </div>
    </div>
  
        
    </div>
</section>
{% endblock %}